_site/
.quarto/
*.html
!course/*.html
!presentation/*.html
__pycache__/
*.pyc
.DS_Store
*.tmp
.env
.Rhistory
.RData
.Rproj.user/
*_files/
!course/course_files/
!course/course_files/**
!presentation/slides_files/
!presentation/slides_files/**
*_cache/
*.docx
*.pdf
!course/images/*.pdf
!exercises/01-zotero/starter-files/*.pdf
